_wandb:
    value:
        cli_version: 0.23.1
        e:
            jol5dsdkd6rdkeryut7eq353khl2yfu1:
                args:
                    - --run_cpt
                    - --run_sft
                    - --run_inf
                codePath: Ass4-LLM/src/main_CPT_SFT.py
                codePathLocal: main_CPT_SFT.py
                email: benten.hsu@gmail.com
                executable: /home/ben/miniconda3/envs/Ass4/bin/python
                git:
                    commit: 269f6b0bddee2ff46f478963e81a4be89ea41dd5
                    remote: https://github.com/benhsu0828/NYCU_IAII_ML2025.git
                host: ben-LAB
                os: Linux-6.8.0-87-generic-x86_64-with-glibc2.35
                program: /home/ben/桌面/NYCU_IAII_ML2025/Ass4-LLM/src/./main_CPT_SFT.py
                python: CPython 3.11.14
                root: /home/ben/桌面/NYCU_IAII_ML2025/Ass4-LLM/src
                startedAt: "2025-12-11T14:11:14.976373Z"
                writerId: jol5dsdkd6rdkeryut7eq353khl2yfu1
        m: []
        python_version: 3.11.14
        t:
            "1":
                - 1
                - 11
                - 41
                - 49
                - 51
                - 71
                - 84
                - 98
            "2":
                - 1
                - 11
                - 41
                - 49
                - 51
                - 71
                - 84
                - 98
            "3":
                - 13
                - 15
                - 16
            "4": 3.11.14
            "5": 0.23.1
            "6": 4.57.3
            "12": 0.23.1
            "13": linux-x86_64
batch_size:
    value: 2
gradient_accumulation:
    value: 16
learning_rate:
    value: 0.0002
lora_alpha:
    value: 128
lora_r:
    value: 64
max_seq_length:
    value: 1024
max_steps:
    value: 1000
model_name:
    value: unsloth/Yi-1.5-6B-bnb-4bit
stage:
    value: CPT
vram:
    value: 8GB
